Logbook==1.1.0
sumy==0.7.0
redis==2.10.6
qiniu==7.2.0
requests==2.18.4
toml==0.9.4
orator==0.9.7
numpy==1.14.1
pymongo==3.6.0
beautifulsoup4==4.6.0
jieba==0.39
selenium==3.8.1
zhon==1.1.5
python_etcd==0.4.5
